{% extends "base.html" %}
{% block content %}
  <h1>Straw Poll</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <h2>
      {{ form.title(placeholder="Type your question here") }}
    </h2>
    <!-- 
      <ul id="options">
        <li><input type="text" name="" id="" placeholder="Enter poll option"></li>
        <li><input type="text" name="" id="" placeholder="Enter poll option"></li>
        <li><input type="text" name="" id="" placeholder="Enter poll option"></li>
      </ul>
    -->
    <div>
    {{ form.create_poll() }}
  </form>
{% endblock %}
