body {
  margin-top: 50px;
  margin-left: 75px;
}

input[type="text"] {
  width: 350px;
}

.btn {
  color: #000;
  text-decoration: none;
}

#options {
  margin: 20px 0px;
}

#options div {
  margin: 5px 0;
}

#allow-multiple-btn {
  margin-bottom: 20px;
}
