{% extends "base.html" %}
{% block content %}
  <h2 id="title">{{ poll.title }}</h2>
  {% if poll.allows_multiple_poll_answers %}
    <p class="text-muted" id="select-all-that-apply">Select all that apply</p>
  {% endif %}
  <form method="POST" action="">
    <div id="options">
      {% if poll.option1 %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="option1">
        <label class="form-check-label" for="option1">{{ poll.option1 }}</label>
      </div>
      {% endif %}
      <!--  -->
      {% if poll.option2 %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="option2">
        <label class="form-check-label" for="option2">{{ poll.option2 }}</label>
      </div>
      {% endif %}
      <!--  -->
      {% if poll.option3 %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="option3">
        <label class="form-check-label" for="option3">{{ poll.option3 }}</label>
      </div>
      {% endif %}
      <!--  -->
      {% if poll.option4 %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="option4">
        <label class="form-check-label" for="option4">{{ poll.option4 }}</label>
      </div>
      {% endif %}
      <!--  -->
      {% if poll.option5 %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="option5">
        <label class="form-check-label" for="option5">{{ poll.option5 }}</label>
      </div>
      {% endif %}
      <!--  -->
    </div>
    <div class="d-flex">
      <div class="flex-fill">
        {{ form.vote(class="btn btn-primary") }}
      </div>
      <div class="">
        <button type="button" class="btn btn-secondary" onclick="window.location = `{{ url_for('results', poll_id=poll.id) }}`">Results</button>
        <button type="button" class="btn btn-secondary" id="share-btn">Share</button>
      </div>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script>
    const hasSelectAllThatApply = document.getElementById('select-all-that-apply');
    if (!hasSelectAllThatApply) {
      $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
          var group = "input:checkbox";
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      });
    }
  </script>
{% endblock %}
